<div class="container margin_bottom_150">       
    <div class="checkout wishlist">
        <div class="shopping-cart v2 bd-7">
            <div class="cmt-title abs">
                <h1 class="page-title v4 title-font">{{ 'cart.general.title' | t }}</h1>
                <div class="w-empty des-font">
                    <p style="font-size:18px;">{{ 'cart.general.empty' | t }} <a href="/collections/all" class="link-default">{{ 'cart.general.return' | t }}<i class="ion-ios-arrow-forward"></i></a></p>
                </div>
            </div>
            
        </div>
    </div>
</div>