<div class="pushmenu menu-home5">
        <div class="menu-push">
            <span class="close-left js-close"><i class="ti-close"></i></span>
            <div class="clearfix"></div>
            <form role="search" method="get" id="searchform" class="searchform title-font" action="/search">
                <div>
                    <label class="screen-reader-text" for="q"></label>
                    <input type="text" placeholder="Search for products" value="" name="q" id="q" autocomplete="off">
                    <input type="hidden" name="type" value="product">
                    <button type="submit" id="searchsubmit"><i class="ti-search"></i></button>
                </div>
            </form>
           {% include 'horizon-menu-mobile-nixx' %}
        </div>
    </div>